In [16]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
from sklearn import preprocessing,neighbors
from sklearn.model_selection import cross_validate, train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression

In [17]:
df = pd.read_csv('breast-cancer-wisconsin.data')

In [18]:
df = df.replace('?',-99999)

In [19]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhension,single_epith_cell_size,bare_nuclei,blam_chrom,norm_nocleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [20]:
#Remove label features
df = df.drop('id',axis=1)

In [21]:
df

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhension,single_epith_cell_size,bare_nuclei,blam_chrom,norm_nocleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [22]:
X = df.drop('class',axis = 1)
y = df['class']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [24]:
knc = neighbors.KNeighborsClassifier()
knc.fit(X_train,y_train)
y_pred = knc.predict(X_test)

In [25]:
accuracy = knc.score(X_test,y_test)
accuracy

0.9857142857142858

In [26]:
confusion_matrix(y_test,y_pred)

array([[87,  1],
       [ 1, 51]], dtype=int64)

In [27]:
lg = LinearRegression()
lg.fit(X_train,y_train)
y_pred = lg.predict(X_test)
test_score = lg.score(X_test,y_test)
test_score

0.7816546954642856

In [14]:
print(y_pred)

[1.88157812 3.66812696 1.81099289 3.59418549 2.91550638 2.4286142
 2.41845315 2.38987056 2.1007716  2.07568543 2.05477279 2.45381835
 4.6362666  2.15607174 4.10473362 2.67532751 2.26897573 3.74994687
 2.02387908 1.89268968 2.25369063 2.1584121  2.94632199 1.82210445
 2.20188428 1.82211226 1.82210445 2.51577147 1.95828438 4.70162199
 4.4401497  3.70479798 2.25189593 2.15010349 2.14627066 2.07568543
 2.18809593 4.59440236 1.91360232 4.04264449 1.88157812 3.82868877
 2.3948611  1.95329384 1.98418755 1.82210445 1.96327492 2.75225903
 2.53212197 1.91360232 3.9283091  2.9578327  1.96327492 2.19296293
 2.47476886 3.70800485 2.23776853 2.817556   3.940068   1.89268968
 2.32830728 4.10606945 2.38987056 3.75812978 3.68807147 2.26848224
 1.76364716 2.14627066 2.1671833  1.89268968 2.00510019 3.99191346
 3.72495262 1.883243   1.8970684  1.96327492 3.42186032 1.85402804
 1.63857879 3.88392634 2.04813534 1.9466429  3.93721192 2.27497756
 2.40368707 2.07568543 4.08716949 2.00631007 2.3292664  1.81099289
 2.23776853 2.02387908 3.6065778  2.24214204 3.69899804 2.25868117
 3.30979615 3.82344164 4.77761239 3.05023897 4.38645753 2.01621435
 4.78148084 2.14627326 1.96327492 2.59334191 4.02461287 2.62812269
 3.07670213 4.24071601 2.09659806 1.89268968 2.07568543 2.27416624
 3.30277386 1.82210445 2.1671833  3.48309956 1.91360232 3.81311971
 2.13749946 1.93307549 1.89268968 2.27416624 1.96327492 1.82210445
 2.36566411 2.09660327 2.25868117 4.69993981 2.18809593 2.89246237
 1.91360232 1.98418755 3.86071581 3.51975631 2.27416624 2.05477279
 2.14128012 2.09659806]

2

array([[ 0,  0,  0,  0,  0],
       [42, 45,  1,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 0,  7, 28, 16,  1],
       [ 0,  0,  0,  0,  0]], dtype=int64)